---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: "install dependencies."
  become: yes
  apt:
    name: python3-distutils
    state: latest
    update_cache: yes

- name: "Copy backend build to server"
  become: yes
  copy:
    src:  ~/project/app
    dest: /home/ubuntu
    owner: ubuntu

- name: "Install python dependencies"
  become: true
  shell: |
    cd /home/ubuntu
    pip install -r requirements.txt

- name: Executing rest-learning-app
  become: true
  shell: |
    cd /home/ubuntu
    ./shell_scripts/run_all.sh
